node_modules
storage/*/*.json
storage/*/*/*.json
storage/database
!storage/.gitkeep
!storage/Desc
!storage/Desc/*.json
target
mapgeneration/rust
public/Icons
*.tar.*
rust/
server/database
.env
.output
.idea
.nuxt
.dockerignore
.nitro
